FLOWTEST_ENGINE_BASE_URL=http://localhost:8080

# openai | lmstudio
FLOWTEST_LLM_PROVIDER=openai

# OpenAI
OPENAI_API_KEY=
OPENAI_CHAT_URL=https://api.openai.com/v1/chat/completions

# LM Studio local server
LMSTUDIO_CHAT_URL=http://localhost:1234/v1/chat/completions
